<div class="resume-template {{ selected_color }}">


    <!-- Personal Information -->
    <div class="mb-4">
        {% if profile_picture_url %}
        <div class="mb-4">
            <img src="{{ profile_picture_url }}" alt="Profile Picture"
                class="w-32 h-32 rounded-full mx-auto object-cover">
        </div>
        {% endif %}
        <h1 class="text-3xl font-bold text-center">{{ name }}</h1>
        <p class="text-center">{{ address }}</p>
        <p class="text-center">{{ phone }} | {{ email }}</p>
    </div>

    <!-- Personal Summary -->
    {% if personal_summary %}
    <div class="mb-4">
        <h2 class="text-xl font-bold mb-2">About me</h2>
        <p>{{ personal_summary }}</p>
    </div>
    {% endif %}

    <!-- Work Experience -->
    {% if work_experiences %}
    <div class="mb-4">
        <h2 class="text-xl font-bold mb-2">Work Experience</h2>
        {% for work in work_experiences %}
        <div class="mb-2">
            <h3 class="text-lg font-semibold">{{ work.function }} at {{ work.company }}</h3>
            <p class="text-sm">{{ work.startDate }} - {{ work.endDate }}</p>
            <p>{{ work.description }}</p>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <!-- Education -->
    {% if educations %}
    <div class="mb-4">
        <h2 class="text-xl font-bold mb-2">Education</h2>
        {% for edu in educations %}
        <div class="mb-2">
            <h3 class="text-lg font-semibold">{{ edu.education }} at {{ edu.institution }}</h3>
            <p class="text-sm">{{ edu.startDate }} - {{ edu.endDate }}</p>
            <p>{{ edu.description }}</p>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>





<div>
    <img src="{{ profile_picture_url }}" alt="Profile Picture"
        class="w-32 h-32 rounded-full mx-auto object-cover">
</div>