{% extends 'base.html' %}

{% block title %}Welcome to ResuMate{% endblock %}

{% block content %}
<div class="bg-white flex p-6">
    <div class="h-[700px] w-1/2 bg-black text-white flex-col items-center justify-center p-20">
        <h1 class="font-bold text-white text-left text-5xl mb-10 border-b-2 pb-4">ABOUT US</h1>
        <h3 class="font-bold text-white ">Hi! We are Job and Nikita (Kiet), creators and proud founders of Resu_mate.</h3>
        <p class="italic">Netherlands, 2025</p>

        <div class="bg-black">
            <p class="mt-8">Resu-mate started after we both fell into the trap of sneaky monthly payments when we thought we’d only have to pay once for a resume builder. We were frustrated with hidden fees and confusing contracts, and that’s when we realized—why not build our own resume tool? </p>

            <p class="mt-8">Job’s interest in programming and Nikita’s passion for design came together, and we decided to turn our hobbies into something useful. We created Resu-mate to be simple, transparent, and affordable. No fine print, no hidden fees—just €5 for a whole year. We believe building your resume shouldn’t be a hassle or break the bank. </p>

            <p class="mt-8">Think of us as your "mate" who’s here to help you create a professional resume with ease, for a small fee, no strings attached!</p>
        </div>
    </div>
    <div class="bg-black h-[700px] w-1/2 flex justify-center items-center">
        <p class="text-5xl">FOTO</p>
    </div>
</div>
{% endblock %}